# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/
**/node_modules/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Environment files
.env*

# Generated web build files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
!functions/*.js
!functions/test/*.js

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties
/android/*.jks
/android/*.keystore

# Locally generated Firebase configuration
/lib/firebase_options.dart
firebase_config.dart
